{% extends 'base.html.twig' %}

{% block title %}Rental
{% endblock %}

{% block body %}
	<div class="accommodation-list-container">

		<h1>Réservation n°{{rental.id}}</h1>

		<table class="accommodation-table">

			<thead>
				<tr>
					<th>Id:</th>
					<th>Nom + Accommodation Id:</th>
					<th>Emplacement:</th>
					<th>Client:</th>
					<th>Tel:</th>
					<th>Date de début:</th>
					<th>Date de fin:</th>
					<th>Nombre adulte:</th>
					<th>Nombre enfant:</th>
					<th>Actions:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ rental.id }}</td>
					<td>{{ rental.accommodation.label }}
						;
						{{rental.accommodation.id}}</td>
					<td>{{ rental.accommodation.locationNumber }}</td>
					<td>{{ rental.user.firstname }}
						{{rental.user.lastname}}</td>
					<td>{{ rental.user.phoneNumber }}</td>
					<td>{{ rental.dateStart ? rental.dateStart|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ rental.dateEnd ? rental.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ rental.adultNumber }}</td>
					<td>{{ rental.childNumber }}</td>
					<td>
						<div class="action-buttons">
							<div>
								{# suppression #}
								{% include "rental/_delete_form.html.twig" with {'button_class': 'btn btn-delete'} %}
							</div>
							<div>
								<a href="{{ path('app_rental_edit', {'id': rental.id}) }}" class="btn btn-edit">Editer</a>

							</div>
							<div>
								<a href="{{path('app_rental_index')}}" class="btn btn-back">
									<i class="fas fa-arrow-left"></i>Retour à la liste</a>

							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
