<div class="accommodation-form-container">
	<h1 style="color: #ffd700;" class="accommodation-title">{{accommodation.label}}</h1>
</div>
<div class="accommodation-detail-card">
	<div class="accommodation-detail-image">
		<img src="{{ asset('/uploads/images/' ~ accommodation.image) }}" alt="{{ accommodation.label }}">
	</div>
	<div class="accommodation-detail-content">
		<div class="accommodation-info-detail mb-4">
			<div class="info-item">
				<h2 class="accommodation-title">Informations</h2>
				<div class="info-label">Emplacement:</div>
				<div class="info-value">{{accommodation.location_number}}</div>
				<div class="info-label">Superficie:</div>
				<div class="info-value">{{accommodation.size}}m2</div>
				<div class="info-label">Type:</div>
				<div class="info-value">{{accommodation.type}}</div>
				<div class="info-label">Prix/nuit:</div>
				<div class="info-value">A partir de
					{{accommodation.prices[0].price}}€</div>
				<div class="info-label">Nombre de couchages:</div>
				<div class="info-value">{{accommodation.capacity}}</div>
				<div class="info-label">Equipements:</div>
				<div class="info-value">
					{% for equipment in accommodation.equipments %}
						{{ equipment }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</div>
				<h2 class="accommodation-title">Description</h2>
				<div class="info-value">{{accommodation.description}}</div>
			</div>
			{% if not disableButtons %}
				<div class="accommodation-form-container">
					<div class="action-buttons">
						<a href="{{ path('app_home') }}" class="btn btn-back" style="background-color: #1a1f36; color:white;">
							<i class="fas fa-arrow-left"></i>
							Retour à l'Accueil
						</a>
					</div>
					{% if app.user %}
						<div class="action-buttons">
							<a href="{{ path('app_rental_new', {id: accommodation.id}) }}" class="btn btn-back" style="background-color: #006400;">Louer</a>
						</div>
					{% else %}
						<div class="action-buttons">
							<a href="{{ path('app_login') }}" class="btn btn-back" style="background-color: #006400;">Louer</a>
						</div>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
</div>
