{% extends 'base.html.twig' %}

{% block title %}Accommodation{% endblock %}

{% block body %}
    <div class="accommodation-list-container">
        <h1>Accommodation n°{{accommodation.id}}</h1>
        <table class="accommodation-table">
            <thead>
                <tr>
                    <th>Id:</th>
                    <th>Label:</th>
                    <th>Emplacement:</th>
                    <th>Superficie:</th>
                    <th>Description:</th>
                    <th>Capacité:</th>
                    <th>Prix par saison:</th>
                    <th>Image</th>
                    <th>Disponibilité:</th>
                    <th>Actions:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ accommodation.id }}</td>
                    <td>{{ accommodation.label }}</td>
                    <td>{{ accommodation.location_number }}</td>
                    <td>{{ accommodation.size }}</td>
                    <td>{{ accommodation.description }}</td>
                    <td>{{ accommodation.capacity }}</td>
                    <td>
                        {% for pricing in accommodation.pricings %}
                            {{ pricing.season.label }}: <span style="color: #ffd700;">{{ pricing.price }} €</span><br>
                        {% endfor %}
                    </td>
                    <td>{{ accommodation.image }}</td>
                    <td>{{ accommodation.availability ? 'Oui' : 'Non' }}</td>
                    <td>
                        <div class="action-buttons">
                            <a href="{{ path('app_accommodation_edit', {'id': accommodation.id}) }}" class="btn btn-edit">Editer</a>
                            <a href="{{ path('app_accommodation_index') }}" class="btn btn-back">
                                <i class="fas fa-arrow-left"></i> Retour à la liste
                            </a>
                            {% include "accommodation/_delete_form.html.twig" with {'button_class': 'btn btn-delete'}%}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {# Je veux afficher ici le détail de l'accommodation choisie vie le components/_accommodation_card.html.twig #}
    {{ include('components/_detail_card.html.twig', {accommodation: accommodation, disableButtons: true}) }}
{% endblock %}